{%load static %}
<nav class="bg-pink-300 shadow-indigo-950 shadow-lg ">
       <div class="max-w-6xl mx-auto px4">
        <div class="flex justify-between" >
    <div  class="flex space-x-7">
        <div>
            <a href="#" class ='flex items-center px-2 py-4'>
            <img class="h-20 w-20 shadow-fuchsia-700" src="{% static 'myapp/images/logo.png' %}"  alt="logo" about="logo"/>
            <span class="text-xl font-semibold">Akademi sex trip</span>
                </a>
            </div>
        <div class="items-center flex space-x-10">
            <button href="#" class="py-4 px4 text-xl font-semibold shadow-lg shadow-pink-900/90 ">Home</button>
            <a href="#" class="py-4 px4 text-xl font-semibold  shadow-lg shadow-pink-900/90 ">About</a>
            <a href="#" class="py-4 px4 text-xl font-semibold  shadow-lg shadow-pink-900/90 ">Contacts</a>
        </div>
        </div>
            </div>
           </div>
    </nav>